.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7%;
    .logo {
        max-width: fit-content;
        margin-bottom: 1.4em;
        .image {
            object-fit: contain;
            width: 120% !important;
            position: relative !important;
            height: 120% !important;
        }
    }
    .title {
        margin-left: 1.24em;
    }
}