.container {
    background-color: transparent;
    border: none;
    color: var(--gray_500);
    display: block;
    margin: 0px 6px;
    font-size: var(--text_lg);
}

.container:hover {
    color: var(--white_900);
}