@import "./fonts.scss";
html:root {
  --black_300: #151515;
  --black_400: #202020;
  --white_300: #b9b9b9;
  --white_400: #f5f5f5;
  --white_900: #ffffff;
  --blue_200: #7ac9f5;
  --blue_500: #2f80ed;
  --yellow_900: #ffc700;
  --red_900: #ff0000;
  --gray_100: #f4f4f4;
  --gray_250: #e1e1e1;
  --gray_200: #f7f7f7;
  --gray_300: #2c2c2c;
  --gray_400: #f9f9f9;
  --gray_500: #969696;
  --gray_700: #c5c5c5;
  --button_copy_link: #219653;
  --gray_750: #c8c8c8;
  --gray_800: #949494;
  --gray_900: #d6d6d6;
  --button_hover_dark: #393939;
  --button_hover_blue: #579fff;
  --button_hover_white: #eeeeee;
  --icon_filter_blue: invert(52%) sepia(70%) saturate(1028%) hue-rotate(192deg) brightness(101%) contrast(101%);
  --icon_breadcrumb_filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(263deg) brightness(100%) contrast(98%);
  --image_hover_enabled: invert(60%) sepia(56%) saturate(4186%) hue-rotate(216deg) brightness(88%) contrast(93%);
  --background_opacity: rgba(44, 44, 44, 0.5);
  --shadow_black: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --image-filter: invert(96%) sepia(69%) saturate(40%) hue-rotate(393deg) brightness(273%) contrast(101%);
  --darkToWhiteGradient: linear-gradient(90.02deg, #151515 7.49%, rgba(255, 255, 255, 0) 98.6%);
}

html:root {
  --text_min: 8px;
  --text_xsm: 10px;
  --text_xs: 12px;
  --text_sm: 14px;
  --text_tiny: 16px;
  --text_base: 20px;
  --text_lg: 24px;
  --text_xl: 32px;
}

html,
body {
  --antd-wave-shadow-color: none;
  --primary-font: Roboto;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  user-select: none;
  box-sizing: border-box;
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}
