.container {
    background-color: var(--blue_900);
    border: 2px solid var(--green);
    border-radius: 10px;
    color: var(--white_900);
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: var(--text_base);
    margin: 0px 6px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.container:hover {
    background-color: var(--green);
    color: var(--white_900);
}