.layouts {
  width: 32em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
    font-size: var(--text_xl);
  }
  .description {
    font-size: var(--text_tiny);
    max-width: 42ch;
    text-align: center;
    color: var(--gray_500);
  }
  .form {
    min-height: 18em;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 5em;
    margin-top: 2em;
    .button {
      margin-top: 2.2em;
      margin-bottom: 2.5em;
      align-self: flex-end;
      margin-right: 1em;
    }
  }
}
