.container {
  display: flex;
  flex-direction: row;
  a {
    padding: 0rem 0.5rem;
    *:active {
      color: black;
      background-color: aquamarine;
    }
  }
  a:active {
    color: black;
    background-color: aquamarine;
  }
  a:hover {
    color: darkblue;
  }
}
