.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px calc(11vw - 20px);
    max-width: 3000px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    .logo {
        display: flex;
        justify-content: flex-start;
        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: 90% !important;
            padding: 0em 1em;
        }
        .title {
            align-self: center;
        }
    }
    .empty {
        width: 12%;
    }
}